# GRPC
GRPC_PORT=:50051

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_QUEUE=notifications

# Postgres
POSTGRES_DSN=postgres://notify:notify_pass@localhost:5432/go_notify?sslmode=disable

# Metrics
METRICS_PORT=:9090

# Logging
LOGGING_LEVEL=info

# ntfy
NTFY_TOPIC=go-notify-sid
